

.container{
    display: flex;
    flex-wrap: wrap;
}

.my-card-list{
    margin:10px;
    width: 350px;
    background-color: whitesmoke;

}

.my-card-add{
    margin:10px;
    width: 350px;
    background-color: whitesmoke;
}

.my-card-footer{
    margin:10px;
    width:750px;
    background-color: whitesmoke;
}
.card{
    padding:0.5em;
    height: 75px;
    box-sizing: border-box;
}